{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Cadastro - USINA</title>

<!-- IMPORTING STYLES FOR LOGIN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block conteudo %}
<div id="register">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-7">
				<div class="content">
					<div class="logotipo"> 
						<img src="{% static 'imagens/logo.png' %}" class="img-fluid" alt="Responsive image">
					</div>
					<form  method="post" class="registerForm">
						{% csrf_token %}
						<div class="form-group">
							{% render_field form.username class="form-control" placeholder="Usuário" %} 
							<!-- <input placeholder="Usuário" type="text" class="form-control" id="user" aria-describedby="UserHELP"> -->
						</div>
						<div class="form-group">
							{% render_field form.apelido class="form-control" placeholder="Apelido" %} 
							<!-- <input placeholder="Usuário" type="text" class="form-control" id="user" aria-describedby="UserHELP"> -->
						</div>
						<div class="form-group">
							{% render_field form.email class="form-control" placeholder="Email" %}  
							
							<!-- <input placeholder="Email" type="text" class="form-control" id="user" aria-describedby="UserHELP"> -->
						</div>
						<div class="form-group">
							{% render_field form.matricula class="form-control" placeholder="Matrícula" %}  
							
							<!-- <input placeholder="Matrícula" type="text" class="form-control" id="user" aria-describedby="UserHELP"> -->
						</div>
						<div class="form-group">
							{% render_field form.password1 class="form-control" placeholder="Senha" %} 
							<!-- <input placeholder="Senha" type="password" class="form-control" id="password"> -->
						</div>
						<div class="form-group">
							{% render_field form.password2 class="form-control" placeholder="Confirmar senha" %} 
							<!-- <input placeholder="Confirmar senha" type="password" class="form-control" id="password"> -->
						</div>
						{% if not user.is_authenticated %}
						<div class="registerForm__btnSubmit">
							<button type="submit" class="registerForm__btnSubmit--button">Cadastrar</button>
						</div>
						<p>Já tem uma conta? <a href="{% url 'login' %}">Entre</a></p>
						{% else %}
						<div class="registerForm__btnSubmit">
							<button type="submit" class="registerForm__btnSubmit--button">Salvar</button>
						</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}