<!DOCTYPE html>
{% load static %}
<html>
<head>
	{% block title %}
	{% endblock %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/js/bootstrap.min.js' %}" />
</head>
<body>
	{% block conteudo %}
	{% endblock %}
</body>
</html>