{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block conteudo %}
<div class="container login">
	<h1> <img src="{% static 'imagens/logo.png' %}" class="img-fluid" alt="Responsive image"> </h1>
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Usuário:</label>
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Senha:</label>
			<input type="password" class="form-control" id="exampleInputPassword1">
		</div>
		<button type="submit" class="verde">Entrar</button>
	</form>
</div>
{% endblock %}