{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Cadastro - USINA</title>

<!-- IMPORTING STYLES FOR LOGIN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/geral.css' %}" />
{% endblock %}

{% block conteudo %}
<div id="index">
	<div class="container-fluid">
    <div class="row">
      <div class="col-12 menu">
        <div class="menu__lat">
          <nav>
            <li class="menu__lat--brand">
              <a href="#">Usina Estivas</a>
            </li>
            <ul class="menu__lat--option">
              <li>
                <i class="fas fa-user-circle"></i> Jeffesson Gomes
              </li>
              <li class="menu__lat--exit">
                <a href="#"><i class="fas fa-sign-out-alt"></i> Sair</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
			<div class="col-xl-2 col-lg-3 menu">
        <div class="menu__vert">
          <div class="sticky-top menu__vert--edit">
            <div class="img-profile">
              <img src="https://i.stack.imgur.com/9X76n.png" alt="Imagem do perfil" />
            </div>
            <nav>
              <li>
                <a href="#"><i class="fas fa-headset"></i> Meus chamados</a>
              </li>
              <li>
              <a href="#"><i class="fas fa-plus-circle"></i> Novo chamado</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-user-edit"></i> Editar perfil</a>
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="col contentDash">
        <div class="contentDash">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

        </div>
      </div>
		</div>
	</div>
</div>
{% endblock %}