{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>PERFIL - USINA</title>

<!-- IMPORTING STYLES FOR LOGIN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/geral.css' %}" />
{% endblock %}

{% block conteudo %}
<div id="index">
  <div class="menu__mobile">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Usina Estivas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item text-center active">
            <a class="nav-link" href="#">Meus chamados</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Novo chamado</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#">Editar perfil</a>
          </li>
          <li class="nav-item text-center bg-danger">
            <a class="nav-link text-white" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
	<div class="container-fluid">
    <div class="row">
      <div class="col-12 menu">
        <div class="menu__lat">
          <nav>
            <li class="menu__lat--brand">
              <a href="#">Usina Estivas</a>
            </li>
            <ul class="menu__lat--option">
              <li>
                <i class="fas fa-user-circle"></i> {{ user.username}}
              </li>
              <li class="menu__lat--exit">
                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
			<div class="col-xl-2 col-lg-3 menu">
        <div class="menu__vert">
          <div class="sticky-top menu__vert--edit">
            <div class="img-profile">
              <img src="https://i.stack.imgur.com/9X76n.png" alt="Imagem do perfil" />
            </div>
            <nav>
              <li>
                <a href="#"><i class="fas fa-headset"></i> Meus chamados</a>
              </li>
              <li>
              <a href="#"><i class="fas fa-plus-circle"></i> Novo chamado</a>
              </li>
              <li>
                <a href="{% url 'dados' user.id %}"><i class="fas fa-user-edit"></i> Editar perfil</a>
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="col contentDash">
        <div class="contentDash">
          a
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

        </div>
      </div>
		</div>
	</div>
</div>
{% endblock %}