.login h1{
    width: 75%;
    margin-left: 15%;
    text-align: center;
}
form{
	width: 75%;
	margin-left: 15%;
}
.login{
	margin-top: 25px;
}
.verde{
	background-color: #7FFF00;
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.verde:active{
    color: white;
}