{% extends "dashboard/baseperfil.html" %}

{% load static %}

{% block title %}
<title>Resolver chamados</title>
<link rel="stylesheet" href="{% static 'css/adminchamados.css' %}">
<style type="text/css">
	td, th{
		max-width: 27ch;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
{% endblock%}

{% block conteudo %}
<form method="get">
	<div><span>Id:</span> {{filtro.form.id}}</div>
	<div><span>Setor:</span> {{filtro.form.setor}}</div>
	<div><span>Usuário:</span> {{filtro.form.user}}</div>
	<div><span>Relação:</span> {{filtro.form.relacao}}</div>
	<div><span>Situacao:</span> {{filtro.form.situacao}}</div>
	<div><span>Problema:</span> {{filtro.form.problema}}</div>
	<div class="btnSubmit">
		<button class="btnSubmit--btn" type="submit"><i class="fas fa-search"></i> pesquisar</button>
	</div>
</form>
<div class="table-responsive">
	<table class="table" border="1">
		<thead class="thead-dark">
			<tr>
				<th class="title-table" colspan="7">Chamados</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Setor</th>
				<th>Relação</th>
				<th>Problema</th>
				<th>Usuário</th>
				<th>Situação</th>
				<th>Ação</th>
				
			</tr>
		</thead>
		{% for chamado in filtro.qs %}
		<tbody>
			<tr>
				<td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#chamado-{{chamado.id}}">
					{{chamado.id}}
				</button></td>
				<td>{{chamado.setor}}</td>
				<td>{{chamado.relacao}}</td>
				<td>{{chamado.problema}}</td>
				<td>{{chamado.user}} ({{chamado.user.matricula}})</td>
				<td>{{chamado.situacao}}</td>
				<td>
					{% if chamado.situacao.id == 1 %} 
					<a href="{% url 'resolverchamado' chamado.id %}" class="btn btn-primary">Abrir</a> 
					{% elif chamado.situacao.id == 2 %} 
					<a href="{% url 'comentario' chamado.id %}" class="btn btn-warning">+</a> 
					<a href="{% url 'resolvidochamado' chamado.id %}" class="btn btn-success">Resolver </a> 
					{% else %}
					<button class="btn btn-success" disabled="">Resolvido </button>{% endif %}</td>
			</tr>
		</tbody>
		<!-- Modal -->
		<div class="modal fade" id="chamado-{{chamado.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel"> Chamado #{{chamado.id}} - {{chamado.setor}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p> <b>Relação:</b> {{chamado.relacao}}</p>
						<p> <b>Problema:</b> {{chamado.problema}}</p>
						{% if chamado.situacao.id == 1 %}
						<p><b>Situação:</b> Não resolvido </p>
						{% elif chamado.situacao.id == 2 %}
						<p><b>Situação:</b>  Em andamento</p>
						<p><b>Comentário:</b> {{chamado.comentario}}</p>
						{% else %}
						<p><b>Situação:</b>  Resolvido</p>
						<p><b>Comentário:</b> {{chamado.comentario}}</p>
						{% endif %}
						<span class="card-subtitle mb-2 text-muted">chamado aberto por {{chamado.user.apelido}} ({{chamado.user.matricula}}) em {{chamado.datahora_aberto}} </span> <br>
						 <span class="card-subtitle mb-2 text-muted">Chamado Em andamento por TI em {{chamado.datahora_andamento}}</span> <br>
						<span class="card-subtitle mb-2 text-muted">chamado fechado por TI em {{chamado.datahora_fechado}}</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
		{% empty %}
		<tr>Nada cadastrado</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}