{% extends "dashboard/baseperfil.html" %}
{% load static %}

{% block title %}
<title>Perfil</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/mycall.css' %}" />
{% endblock %}

{% block conteudo %}
<div id="mycall">
  <div class="row">
    <div class="col-12 table-responsive">
     <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="titleTable" colspan="6" scope="col">Meus chamados</th>
        </tr>
      </thead>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Setor</th>
          <th scope="col">Problema Relacionado</th>
          <th scope="col">Problema</th>
          <th scope="col">Situação</th>
          <th scope="col">Administração</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for chamado in lista_chamado %}
          <th scope="row">{{chamado.id}}</th>
          <th scope="row">{{chamado.setor}}</th>
          <td >{{chamado.relacao}}</td>
          <td ><a href="#">{{chamado.problema}}</a></td>
          <td > {% if chamado.situacao.id == 1 %} <span class="open"> Não resolvido </span> {% elif chamado.situacao.id == 2 %}<span class="progressCall">Em andamento </span> {% else %} <span class="completed">Resolvido </span>{% endif %}</td>
          <td> {% if chamado.situacao.id == 1 %} <a href="{% url 'editar' chamado.id %}"> <button type="button" class="btn btn-outline-primary">Editar</button> </a> <a href="{% url 'apagar' chamado.id %}"><button type="button" class="btn btn-outline-danger">Apagar</button></a> {% else %} <a href="{% url 'editar' chamado.id %}"> <button type="button" class="btn btn-outline-primary" disabled="">Editar</button></a> <a href="{% url 'apagar' chamado.id %}"><button type="button" class="btn btn-outline-danger" disabled="">Apagar</button> </a>{% endif %}</td>
        </tr>
        {% empty %}
      </tbody>
    </table>

    <p>Nenhum chamado cadastrado</p>
  </div>
</div>
</div>
{% endfor %}
{% endblock %}