{% extends "dashboard/baseperfil.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>CADASTRAR CHAMADO - USINA</title>

<!-- IMPORTING STYLES FOR LOGIN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block conteudo %}
<form method="post" class="registerForm">
	{% csrf_token %}
	<div class="form-group">
		{% render_field form.setor class="form-control" placeholder="Setor" %} 
	</div>

	<div class="form-group">
		{% render_field form.relacao class="form-control dropdown"%}
	</div>

	<div class="form-group">
		{% render_field form.problema class="form-control" placeholder="Problema" %} 
	</div>
	<button type="submit">Salvar</button>
</form>
{% endblock %}
